Repository Hooked74/sps: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, npm run lint:scripts:file --, npm run lint:styles:file --

chore(#83): add gnomon to test command
  .github/workflows/test-packages.yaml
  package.json
Due: npm run prettier --

chore(#83): add always for publish job
  .github/workflows/test-packages.yaml
  package.json
Due: npm run prettier --

test(#83): check failed test
  packages/utils/src/helpers/__tests__/classNames.test.ts
  packages/utils/src/helpers/__tests__/convertBlobToParsedJson.test.ts
Due: npm run prettier --, npm run lint:scripts:file --

test(#83): return success value
  packages/utils/src/helpers/__tests__/convertBlobToParsedJson.test.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#83): add annotations: failed-tests
  .github/workflows/test-packages.yaml
Due: none

chore(#83): publish v0.3.1
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

test: add expectJest in global and add useForceUpdate, useResizeEffect hooks
  packages/utils/src/components/Сonditional/__tests__/Conditional.test.tsx
  packages/utils/src/helpers/__tests__/EnvManager.test.ts
  packages/utils/src/helpers/__tests__/GlobalManager.test.ts
  packages/utils/src/helpers/__tests__/classNames.test.ts
  packages/utils/src/helpers/__tests__/convertBlobToParsedJson.test.ts
  packages/utils/src/helpers/__tests__/convertSearchToObject.test.ts
  packages/utils/src/helpers/__tests__/downloadFile.test.ts
  packages/utils/src/helpers/__tests__/enumToArray.test.ts
  packages/utils/src/helpers/__tests__/formatBytes.test.ts
  packages/utils/src/helpers/__tests__/formatPhoneNumber.test.ts
  packages/utils/src/helpers/__tests__/getOnlyNumbers.test.ts
  packages/utils/src/helpers/__tests__/getParamFromPathname.test.ts
  packages/utils/src/helpers/__tests__/hslToRgb.test.ts
  packages/utils/src/helpers/__tests__/hueToRgb.test.ts
  packages/utils/src/helpers/__tests__/moveArrayItem.test.ts
  packages/utils/src/helpers/__tests__/pluralize.test.ts
  packages/utils/src/helpers/__tests__/prepareLanguageСases.test.ts
  packages/utils/src/helpers/__tests__/prepareSorters.test.ts
  packages/utils/src/helpers/__tests__/randomHexColor.test.ts
  packages/utils/src/helpers/__tests__/rgbToHsl.test.ts
  packages/utils/src/helpers/__tests__/ruNumberFormat.test.ts
  packages/utils/src/helpers/__tests__/sleep.test.ts
  packages/utils/src/hooks/__tests__/useAdvancedEffect.test.tsx
  packages/utils/src/hooks/__tests__/useCallbackBuffer.test.tsx
  packages/utils/src/hooks/__tests__/useForceUpdate.test.tsx
  packages/utils/src/hooks/__tests__/useResizeEffect.test.tsx
  packages/utils/src/hooks/index.ts
  packages/utils/src/hooks/useForceUpdate.ts
  packages/utils/src/hooks/useResizeEffect.ts
  setupTests.ts
  types/test.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#84): publish v0.3.2
  CHANGELOG.md
  lerna.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: npm run prettier --

feat(#85): [logger] add logger package
  package-lock.json
  package.json
  packages/logger/.npmignore
  packages/logger/package.json
  packages/logger/src/LoggerFactory.ts
  packages/logger/src/__tests__/LoggerFactory.test.ts
  packages/logger/src/__tests__/__mocks__/LoggerFactory.mock.ts
  packages/logger/src/constants.ts
  packages/logger/src/formats/anyFormat.ts
  packages/logger/src/formats/customFormat.ts
  packages/logger/src/formats/index.ts
  packages/logger/src/main.ts
  packages/logger/src/modules.d.ts
  packages/logger/src/transports/ConsoleTransport.ts
  packages/logger/src/transports/index.ts
  packages/logger/src/types.ts
  packages/logger/tsconfig.json
  packages/logger/vite.config.js
Due: npm run prettier --, npm run lint:scripts:file --

feat(#85): [utils] add polyfills
  packages/utils/src/main.ts
  packages/utils/src/polyfills/index.ts
  packages/utils/src/polyfills/setImmediate.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix(#85): [types] add symbol to Collection types
  packages/types/src/general.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix(#85): [utils] add new declares for has and set methods in GlobalManager
  packages/utils/src/helpers/GlobalManager.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#85): add node_modules in .eslintignore
  .eslintignore
Due: none

chore(#85): [utils] update globals in vite.config
  packages/utils/vite.config.js
Due: npm run prettier --, npm run lint:scripts:file --

chore(#85): update dependencies
  package-lock.json
  package.json
  packages/types/package.json
  packages/utils/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#86): publish v0.4.0
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

feat(#89): add validator
  package-lock.json
  package.json
  packages/validation/.npmignore
  packages/validation/package.json
  packages/validation/src/extensions/__tests__/semver.test.ts
  packages/validation/src/extensions/index.ts
  packages/validation/src/extensions/semver.ts
  packages/validation/src/main.ts
  packages/validation/src/types.d.ts
  packages/validation/tsconfig.json
  packages/validation/vite.config.js
Due: npm run prettier --, npm run lint:scripts:file --

chore(#91): publish v0.5.0
  CHANGELOG.md
  lerna.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#88): remove unused variables from .env
  .env
Due: none

chore(#88): update dependencies
  package-lock.json
  package.json
Due: npm run prettier --

chore(#88): update install command in publish action
  .github/workflows/publish-packages.yaml
Due: none

refactor(#88): [logger] rename LogLevels
  packages/logger/src/LoggerFactory.ts
  packages/logger/src/__tests__/LoggerFactory.test.ts
  packages/logger/src/constants.ts
  packages/logger/src/main.ts
  packages/logger/src/types.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix(#88): [vite-lib-config] change define prefix
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix(#88): [utils] rework get variable and add clear cache in EnvManager
  packages/utils/src/helpers/EnvManager.ts
  packages/utils/src/helpers/__tests__/EnvManager.test.ts
Due: npm run prettier --, npm run lint:scripts:file --

feat(#88): [types] add new properties in CustomProcessEnv
  packages/types/src/env.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#88): [validation] update dependencies
  packages/validation/package.json
Due: npm run prettier --

chore(#92): publish v0.6.0
  CHANGELOG.md
  lerna.json
  packages/fetcher/CHANGELOG.md
  packages/fetcher/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#90): update dependencies
  package-lock.json
  package.json
Due: npm run prettier --

chore(#90): update endpoints and dependencies
  packages/fetcher/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

test(#90): [fetcher] change excpect to expectJest
  packages/fetcher/src/adapters/FetchAdapter/__tests__/FetchAdapter.test.ts
  packages/fetcher/src/decorators/__tests__/ValidateResponse.test.ts
  packages/fetcher/src/interceptors/__tests__/withCancelRequestInterceptor.test.ts
  packages/fetcher/src/interceptors/__tests__/withConvertExceptionDataBlobToJsonInterceptor.test.ts
  packages/fetcher/src/interceptors/__tests__/withHandleRequestExceptionInterceptor.test.ts
  packages/fetcher/src/interceptors/__tests__/withHandleResponseExceptionInterceptor.test.ts
  packages/fetcher/src/interceptors/__tests__/withValidationInterceptor.test.ts
Due: npm run prettier --, npm run lint:scripts:file --

feat(#90): [react-context-storage] add package
  packages/react-context-storage/.npmignore
  packages/react-context-storage/package.json
  packages/react-context-storage/src/constants.ts
  packages/react-context-storage/src/devtools/DevtoolsEmitter.ts
  packages/react-context-storage/src/devtools/DevtoolsManager.ts
  packages/react-context-storage/src/devtools/DevtoolsState.ts
  packages/react-context-storage/src/devtools/DevtoolsStoreDecorator.tsx
  packages/react-context-storage/src/devtools/index.ts
  packages/react-context-storage/src/hooks/__tests__/useActions.test.ts
  packages/react-context-storage/src/hooks/index.ts
  packages/react-context-storage/src/hooks/useActions.ts
  packages/react-context-storage/src/main.ts
  packages/react-context-storage/src/store/StoreAliassesCreator.ts
  packages/react-context-storage/src/store/StoreContextCreator.ts
  packages/react-context-storage/src/store/StoreEventEmitter.ts
  packages/react-context-storage/src/store/StoreFactory.tsx
  packages/react-context-storage/src/store/StoreReducerDecorator.ts
  packages/react-context-storage/src/store/__tests__/StoreFactory.test.tsx
  packages/react-context-storage/src/store/__tests__/__mocks__/StoreFactory.mock.ts
  packages/react-context-storage/src/store/index.ts
  packages/react-context-storage/src/types.ts
  packages/react-context-storage/src/utils/index.ts
  packages/react-context-storage/src/utils/reactContextStorageLogger.ts
  packages/react-context-storage/tsconfig.json
  packages/react-context-storage/vite.config.js
Due: npm run prettier --, npm run lint:scripts:file --

chore(#90): [logger] update endpoints in package.json
  packages/logger/package.json
Due: npm run prettier --

feat(#90): [types] add new properties in CustomProcessEnv
  packages/types/src/env.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

test(#90): [validation] change excpect to expectJest
  packages/validation/src/extensions/__tests__/semver.test.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#94): publish v0.7.0
  CHANGELOG.md
  lerna.json
  packages/fetcher/CHANGELOG.md
  packages/fetcher/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/react-context-storage/CHANGELOG.md
  packages/react-context-storage/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

docs(#87): add README.md
  README.md
Due: npm run prettier --

chore(#97): update dependencies
  package-lock.json
  package.json
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#98): publish v0.7.1
  CHANGELOG.md
  lerna.json
  packages/fetcher/CHANGELOG.md
  packages/fetcher/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/react-context-storage/CHANGELOG.md
  packages/react-context-storage/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validation/CHANGELOG.md
  packages/validation/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#99): update dependencies
  package-lock.json
  package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

Path conditions:
  npm run prettier --: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{scss,less,css})) or (any of: *.{json,md})
  npm run lint:scripts:file --: any of: *.{ts,tsx,js,jsx}
  npm run lint:styles:file --: any of: *.{scss,less,css}
