Repository Hooked74/sps: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, npm run lint:scripts:file --, npm run lint:styles:file --

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "npm run prettier --",
    "npm run lint:scripts:file --"
  ],
  "*.{scss,less,css}": [
    "npm run prettier --",
    "npm run lint:styles:file --"
  ],
  "*.{json,md}": [
    "npm run prettier --"
  ]
}

v0.1.8
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  lerna.json
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.9
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  package-lock.json
  package.json
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-lib-config/src/main.ts
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --, npm run lint:scripts:file --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
Due: none

fix: update publish-packages.yaml
  lerna.json
Due: npm run prettier --

v0.1.10
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

v0.1.11
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.12
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  package.json
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.13
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  cli/husky
  package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  package.json
Due: npm run prettier --

v0.2.0
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

Fix/actions (#55)
  .github/workflows/publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --
