Repository Hooked74/sps: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, npm run lint:scripts:file --, npm run lint:styles:file --

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "npm run prettier --",
    "npm run lint:scripts:file --"
  ],
  "*.{scss,less,css}": [
    "npm run prettier --",
    "npm run lint:styles:file --"
  ],
  "*.{json,md}": [
    "npm run prettier --"
  ]
}

fix: update publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
Due: none

fix: update publish-packages.yaml
  package.json
Due: npm run prettier --

chore(#78): publish v0.2.1
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run prettier --

fix(#79): remove PIPESTATUS from package.json command
  package.json
Due: npm run prettier --

chore(#82): publish v0.3.0
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore: add test action and update deps
  .github/workflows/publish-packages.yaml
  .github/workflows/test-packages.yaml
  package-lock.json
  package.json
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

chore(#83): add publish jest results job
  .github/workflows/test-packages.yaml
Due: none

chore(#83): update publish jest report
  .github/workflows/test-packages.yaml
  package.json
Due: npm run prettier --

chore(#83): update prepare-commit-msg
  .husky/prepare-commit-msg
Due: none

fix(#83): add 0 to the end in randomHexColor when color is cropped
  packages/utils/src/helpers/randomHexColor.ts
Due: npm run prettier --, npm run lint:scripts:file --

chore(#83): change test command in job
  .github/workflows/test-packages.yaml
Due: none

chore(#83): update install jobs in actions
  .github/workflows/publish-packages.yaml
  .github/workflows/test-packages.yaml
Due: none

chore(#83): setup publish jest results job
  .github/workflows/test-packages.yaml
Due: none

test(#83): check failed test
  packages/utils/src/helpers/__tests__/classNames.test.ts
Due: npm run prettier --, npm run lint:scripts:file --
