Repository Hooked74/sps: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, npm run lint:scripts:file --, npm run lint:styles:file --

fix: github publish action
  .github/workflows/publish-packages.yaml
Due: none

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
Due: none

fix: update prepare-commit-msg
  .husky/prepare-commit-msg
Due: none

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  package-lock.json
  package.json
Due: npm run prettier --

v0.1.0
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

fix: remove extend ProcessEnv
  packages/types/src/env.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.1
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  packages/types/src/general.d.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.2
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

v0.1.3
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

v0.1.4
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.5
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  package.json
  packages/types/package.json
  packages/vite-lib-config/package.json
  packages/vite-lib-config/src/main.ts
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.6
  CHANGELOG.md
  lerna.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
  packages/vite-plugin-checker/CHANGELOG.md
  packages/vite-plugin-checker/package.json
  packages/vite-plugin-react-svg/CHANGELOG.md
  packages/vite-plugin-react-svg/package.json
Due: npm run prettier --

fix: update publish-packages.yaml
  .github/workflows/publish-packages.yaml
  packages/vite-lib-config/src/main.ts
Due: npm run prettier --, npm run lint:scripts:file --

v0.1.7
  CHANGELOG.md
  lerna.json
  packages/vite-lib-config/CHANGELOG.md
  packages/vite-lib-config/package.json
Due: npm run prettier --

Path conditions:
  npm run prettier --: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{scss,less,css})) or (any of: *.{json,md})
  npm run lint:scripts:file --: any of: *.{ts,tsx,js,jsx}
  npm run lint:styles:file --: any of: *.{scss,less,css}
